/* Переменные */
:root {
  --primary-title-color: #ffffff;
  --second-title-color: #212121;
  --primary-text-color: #757575;
  --second-text-color: #ffffff99;
  --accent-color: #2196f3;
  --third-background-color: #2f303a;
}

/* Сервисные классы */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Свойства, которые наследуются */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

/* Стилизация Хедера */
.logo-accent {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-dark {
  color: var(--second-title-color);
}
.menu-lihk {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-lihk:hover,
.menu-lihk:focus {
  color: var(--accent-color);
}
.header-email,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* Стилизация Героя */
.hero {
  background: var(--third-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
.hero-btn {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}
.hero-btn,
.portfolio-btn {
  cursor: pointer;
}

/* Стилизация Секции о наших особенностях */
.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Стилизация Секции о видах деятельности */
.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/* Стилизация Секции о команде */
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.team-member-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Стилизация Футера */
.footer {
  background: var(--third-background-color);
}
.logo-light {
  color: var(--primary-title-color);
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.footer-email,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.footer-email:hover,
.footer-email:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/* Стилизация Страницы Портфолио */

/* Список кнопок */
.portfolio-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-title-color);
}

/* Примеры работ */
.examples-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.examples-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
